.about-home{
	width: 100%;
	.about-wrapper{
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		.img-box{
			width: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.about-content-wrap{
			position: absolute;
			top: 12%;
			width: 88.88%;
			max-width: 1920px;
			margin: 0 auto;
			display: flex;
			flex-direction: row;
			@include below(md){
				width: 100%;
				padding: 0 20px;
			}
			@include below(tb){
				position: inherit;
				width: 100%;
				flex-wrap: wrap;
				padding: 0;
			}
			.about-left-sec{
				width: 60%;
				position: relative;
				@include below(tb){
					width: 100%;
					position: absolute;
					top: 20px;
					padding: 0 20px;
				}
				.about-heading{
					width: 100%;
					font-size: 7.4rem;
					color: $white-color;
					font-family: $dawat-font-corda;
					font-weight: 600;
					line-height: 100%;
					@include below(md){
						font-size: 5.4rem;
					}
					@include below(tb){
						font-size: 3.4rem;;
					}
					span{
						color: $golden-color;
					}
				}
			}
			.about-right-sec{
				width: 40%;
				position: relative;
				z-index: 2;
				@include below(tb){
					width: 100%;
					background: url(../../dist/images/about-banner/about-text-bg.jpg) no-repeat center;
					background-size: cover;
					background-attachment: fixed;
				}
				&::after{
					@include below(tb){
					content: "";
					position: absolute;
					height: 100%;
					width: 100%;
					left: 0;
					top: 0;
					z-index: 1;
					background: rgba(0, 0, 0, 0.6);
				  }
				}
              .about-text{
				width: 100%;
				width: 100%;
				padding: 100px 0px 0 100px;
				@include below(lgMid1){
					padding: 10px 0 0 50px;
				}
				@include below(tb){
					padding: 40px 20px 60px 20px;
					position: relative;
					z-index: 2;
				}
				p{
					font-size: 2.4rem;
					font-family: $dawat-font-corda;
					font-weight: 200;
					line-height: 150%;
					color: $white-color;
					margin-bottom: 50px;
					@include below(lgMid1){
						font-size: 2rem;
					}
					@include below(md){
						font-size: 1.5rem;
					}
				}
			  }
			}
		}
		&:after{
			content: "";
			position: absolute;
			width: 40%;
			right: 0;
			top: 0;
			height: 100vh;
			background: rgba(0, 0, 0, 0.7);
			z-index: 1;
			@include below(tb){
				display: none;
			}
		}
		.com_container{
			padding: 0;
		}
	}
}