.Com_threeCard{
	width: 100%;
	padding: 0px 0 50px 0;
	.heading-wrap{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 20px 20px;
	}
	
	.Com_threecard_Wrapper{
		width: 100%;
		margin-top: 50px;
		.threeCardSlider{
		  width: 100%;
		  &.hide-line{
			.swiper-slide{
				&::before{
					display: none;
				}
			}
		}
		  .card-container{
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			.card-item-name{
			  width: 100%;
			  font-size: 3rem;
			  font-family: $dawat-font-corda;
			  font-weight: 400;
			  text-transform: capitalize;
			  color: $blue-color;
			  text-align: center;
			}
			.card-img-item{
			  width: 100%;
			  img{
				width: 100%;
			  }
			}
			.text-wrap{
			  display: inline-flex;
			  flex-direction: column;
			  height: 100%;
			  .card-text-item{
				width: 100%;
				p{
				  font-size: 2.4rem;
				  font-family: $dawat-font-corda;
				  font-weight: 200;
				  color: $balck-color;
				  line-height: 150%;
				  padding: 10px 10px;
				}
				&.bold-text{
					p{
						font-size: 3rem;
						font-family: $dawat-font-corda;
						font-weight: 500;
						color: $balck-color;
						line-height: 100%;
					}
					
				}
			  }
			  .btn-wrap{
				flex: 1 0 auto;
				padding: 20px 0;
			  }
			}
		  }
		  .swiper-slide{
			position: relative;
			&::before{
				content: "";
				position: absolute;
				right: -30px;
				width: 1px;
				height: 65%;
				background: $gray-color;
				top: 15%;
			}
			
		}
		.swiper-button-prev{
			left: 7px;
			border: $gray-color solid 1px;
			padding: 10px 20px;
			z-index: 10; /* Ensure buttons are above the content */
			width: 40px;
			height: 40px;
			top: 39%;
			&:after{
				font-size: 1.5rem;
				color: $gray-color;
			}
		}
		.swiper-button-next{
			right: 7px;
			border: $gray-color solid 1px;
			padding: 10px 20px;
			z-index: 10; /* Ensure buttons are above the content */
			width: 40px;
			height: 40px;
			top: 39%;
			&:after{
				font-size: 1.5rem;
				color: $gray-color;
			}
		}
		}
	  }
}