@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-Italic.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-Bold.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-Light.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-ExtraLightItalic.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-BoldItalic.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-ExtraLight.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-LightItalic.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-Medium.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Corda';
  src: url('/dist/css/fonts/Corda-MediumItalic.woff2') format('woff2'),
      url('/dist/css/fonts/Corda-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBold';
  src: url('/dist/css/fonts/HoftypeCordaBold.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBold';
  src: url('/dist/css/fonts/HoftypeCordaBold.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBoldItalic';
  src: url('/dist/css/fonts/HoftypeCordaBoldItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBold';
  src: url('/dist/css/fonts/HoftypeCordaBold.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBold';
  src: url('/dist/css/fonts/HoftypeCordaBold.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBoldItalic';
  src: url('/dist/css/fonts/HoftypeCordaBoldItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBoldItalic';
  src: url('/dist/css/fonts/HoftypeCordaBoldItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaBoldItalic';
  src: url('/dist/css/fonts/HoftypeCordaBoldItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaItalic';
  src: url('/dist/css/fonts/HoftypeCordaItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaItalic';
  src: url('/dist/css/fonts/HoftypeCordaItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaItalic';
  src: url('/dist/css/fonts/HoftypeCordaItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaLight';
  src: url('/dist/css/fonts/HoftypeCordaLight.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaItalic';
  src: url('/dist/css/fonts/HoftypeCordaItalic.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaMedium';
  src: url('/dist/css/fonts/HoftypeCordaMedium.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaLight';
  src: url('/dist/css/fonts/HoftypeCordaLight.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaMedium';
  src: url('/dist/css/fonts/HoftypeCordaMedium.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaMedium';
  src: url('/dist/css/fonts/HoftypeCordaMedium.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaLight';
  src: url('/dist/css/fonts/HoftypeCordaLight.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaLight';
  src: url('/dist/css/fonts/HoftypeCordaLight.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaMedium';
  src: url('/dist/css/fonts/HoftypeCordaMedium.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HoftypeCordaRegular';
  src: url('/dist/css/fonts/HoftypeCordaRegular.woff2') format('woff2'),
      url('/dist/css/fonts/HoftypeCordaRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



html{
  font-size: 62.5%;
  overflow-x: hidden; 
  @include above(lg3){
    font-size: 62.5%;
  }
  @include between(md, md2){
    font-size: 50.5%;
  }
  @include between(tb2, md){
    font-size: 52.5%;
  }

}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,
sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,
hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display: block;
}

ol,ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  width: 100%;
  font-family: $dawat-font-hyft;
  overflow-x: hidden;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #fff;
  
  }


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline-style: none;
  outline: none;
  box-shadow: none;
  border-color: transparent;
}
.com_container{
  width: 88.88%;
  max-width: 1920px;
  margin: 0 auto;
  @include below(md){
    width: 100%;
    padding: 0 20px;
  }
}

p {
  font-family: "HoftypeCordaRegular";
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.btn-cta-white{
  text-decoration: none;
  padding: 10px 30px;
  font-size: 2.4rem;
  font-family: $dawat-font-corda;
  font-weight: 500;
  color: $balck-color;
  text-align: center;
  background: $white-color;
  text-transform: uppercase;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  &:hover{
    background: $blue-color;
    color: $white-color;
  }
  @include below(lgMid1){
    font-size: 2rem;
  }
  @include below(md){
    font-size: 1.5rem;
  }
  @include below(sm){
    font-size: 1.4rem;
  }
}

.btn-cta{
  text-decoration: none;
  padding: 10px 30px;
  font-size: 2.4rem;
  font-family: $dawat-font-corda;
  font-weight: 500;
  color: $balck-color;
  text-align: center;
  background: transparent;
  text-transform: uppercase;
  border: $balck-color solid 1px;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  &:hover{
    background: $balck-color;
    color: $white-color;
  }
  @include below(lgMid1){
    font-size: 2rem;
  }
  @include below(md){
    font-size: 1.5rem;
  }
  @include below(sm){
    font-size: 1.4rem;
  }
}


h1, .white,h2 .white,h3 .white,h4 .white,h5 .white,h6 .white{
  color: $white-color;
}

h1,h2,h3,h4,h5,h6{
  font-size: 5.9rem;
  font-family: $dawat-font-corda;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 100%;
  color: $blue-color;
  @include below(lg3mid){
    font-size: 4.8rem;
  }
  @include below(md){
    font-size: 3.8rem;
  }
  @include below(sm){
    font-size: 3.4rem;
  }
  @include below(xs){
    font-size: 2.4rem;
  }
}

.sub_heading{
  font-family: $dawat-font-corda;
  font-weight: 200;
  font-size: 2.4rem;
  line-height: 150%;
  color: $balck-color;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  @include below(lg3mid){
    font-size: 2rem;
  }
  @include below(md){
    font-size: 1.5rem;
  }
  @include below(sm){
    font-size: 1.4rem;
  }


}

.mtop-30{
  margin-top: 30px;
}
p{
  @include below(sm){
    font-size: 1.6rem!important;
  }
}
.backTopbtn{
  display: none;
  &.active{
    display: block;
  }
}
.swiper-button-next, .swiper-button-prev{
  @include below(sm){
    width: 25px!important;
    height: 25px!important;
    padding: 13px 13px!important;
  }
}
.panel{
  background: $white-color;
}
.lastSectionForAll{
 .Com_register{
  background: $white-color;
 }

}

footer{
  padding-bottom: 74px;
  @include below(tb2){
    padding-bottom: 0;
  }
  .backTopbtn{
    #backTop{
      bottom: 150px;
    }
  }
}

.paddingTopBottom{
  padding: 100px 0;
  @include below(tb){
    padding: 30px 0;
  }
}
.view-all-btn{
  text-decoration: none;
  color: $golden-color;
  font-family: $dawat-font-corda;
  font-weight: lighter;
  font-size: 1.6rem;
  position: relative;
  &:hover{
    color: $golden-color;
    opacity: 0.8;
  }
  &::after{
    content: "";
    position: absolute;
    width: 7px;
    right: -11px;
    top: 5px;
    height: 7px;
    border-top: 1px solid $golden-color;
    border-left: 1px solid $golden-color;
    background: 0 0;
    transform: rotate(133deg);
  }
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}