header{
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9991;
  transition: all .3s;
  background: #fff;
  .headerWrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .logo {
      width: 13%;
      position: relative;
      img{
        width: auto;
        position: absolute;
      }
  }
  .left-menu{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 87%;
    .navbar {
      width: 100%;
      .nav-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-end;
        li{
          position: relative;
          padding: 22px 18px;
          a{
            text-decoration: none;
            padding: 27px 10px;
            color:$balck-color;
            font-family: $dawat-font-corda;
            font-size: 1.6rem;
            font-weight: 400;
            position: relative;
            text-transform: uppercase;
          }
        }
    }
  }
  .search-icon{
    padding-left: 3%;
  }
  }
}
}