//font-family
$dawat-font-hyft:'HoftypeCordaRegular';
$dawat-font-hyft-bold:'HoftypeCordaBold';
$dawat-font-corda:'Corda';

//color
$balck-color:#000000;
$black-color-light:#262526;
$white-color:#ffffff;
$foober_bg_color:#121212;
$golden-color:#cf9731;
$gray-color:#a2a2a2;
$blue-color:#2e248b;
